### Imports

In [1]:
import pandas as pd

### Reading csv files

    Original Pixar DataSet

In [10]:
original_df = pd.read_csv('../data/pixar__studio12.csv')
original_df

,Moviename,Releaseyear,Budget(million),US and canada(million),Other territories(million),Worldwide(million),Rotten Tomatoes
0,Toy Story,1995,300,1917,1818,3736,100%
1,A Bug's Life,1998,1200,1628,2005,3633,92%
2,Toy Story 2,1999,900,2459,2515,4974,100%
3,"Monsters, Inc.",2001,1150,2899,3424,6323,96%
4,Finding Nemo,2003,940,3397,5313,8710,99%
5,The Incredibles,2004,920,2614,3702,6316,97%
6,Cars,2006,1200,2441,2179,4620,74%
7,Ratatouille,2007,1500,2064,4173,6237,96%
8,WALL-E,2008,1800,2238,2975,5213,95%
9,Up,2009,1750,2930,4421,7351,98%
10,Toy Story 3,2010,2000,4150,6520,10670,98%
11,Cars 2,2011,2000,1915,3684,5599,40%
12,Brave,2012,1850,2373,3017,5390,78%
13,Monsters University,2013,2000,2685,4751,7436,80%
14,Inside Out,2015,1750,3565,5011,8576,98%
15,The Good Dinosaur,2015,1750,1231,2091,3322,76%
16,Finding Dory,2016,2000,4863,5423,10286,94%
17,Cars 3,2017,1750,1529,2310,3839,69%
18,Coco,2017,1750,2097,5974,8071,97%
19,Incredibles 2,2018,2000,6086,6342,12428,93%
20,Toy Story 4,2019,2000,4340,6394,10734,97%
21,Onward,2020,2000,616,804,1420,88%

Renaming columns in order to have it standarized in all the dataframes.

In [3]:
original_df.rename(columns={'Moviename': 'film'}, inplace=True)
original_df.rename(columns={'Releaseyear': 'release_year'}, inplace=True)
original_df.rename(columns={'Budget(million)': 'budget_(million)'}, inplace=True)
original_df.rename(columns={'US and canada(million)': 'us_canada_(million)'}, inplace=True)
original_df.rename(columns={'Other territories(million)': 'other_territories_(million)'}, inplace=True)
original_df.rename(columns={'Worldwide(million)': 'worldwide_(million)'}, inplace=True)
original_df.rename(columns={'Rotten Tomatoes': 'rotten_tomatoes_score'}, inplace=True)
original_df.head(3)

,film,release_year,budget_(million),us_canada_(million),other_territories_(million),worldwide_(million),rotten_tomatoes_score
0,Toy Story,1995,300,1917,1818,3736,100%
1,A Bug's Life,1998,1200,1628,2005,3633,92%
2,Toy Story 2,1999,900,2459,2515,4974,100%

According to wikipedia information, the budget in this dataframe is 10 times the budget of wikipedia, so it needs to be modified.

In [4]:
original_df['budget_(million)'] = original_df['budget_(million)'] / 10
original_df['us_canada_(million)'] = original_df['us_canada_(million)'] / 10
original_df['other_territories_(million)'] = original_df['other_territories_(million)'] / 10
original_df['worldwide_(million)'] = original_df['worldwide_(million)'] / 10
original_df.head(3)

,film,release_year,budget_(million),us_canada_(million),other_territories_(million),worldwide_(million),rotten_tomatoes_score
0,Toy Story,1995,30.0,191.7,181.8,373.6,100%
1,A Bug's Life,1998,120.0,162.8,200.5,363.3,92%
2,Toy Story 2,1999,90.0,245.9,251.5,497.4,100%

    Characters and assets DataSet

In [5]:
char_assets_df = pd.read_csv('../data/characters_assets.csv')
char_assets_df.head(3)

,film,characters,assets
0,Elemental,"Ember Lumen, Wade Ripple, Bernie Lumen, Cinder...","Building The World, Firetown, The Water Distri..."
1,Lightyear,"The Human Side of Buzz, Buzz Lightyear, Izzy H...","“Warm CGI”, T'kani Prime, Turnip, Star Command..."
2,Turning Red,"The Inner 13-Year Old, Meilin Lee, Red Panda M...","“Chunky Cute”, Toronto, Chinatown & the Lee Fa..."

    Academy Awards DataSet

In [6]:
academy_awards_df = pd.read_csv('../data/pixar_academy_awards.csv')
academy_awards_df.head(3)

,film,best_picture,animated_feature,original_screenplay,adapted_screenplay,original_score,original_song,sound_editing,sound_mixing,other
0,Toy Story,NaN,Award not yet introduced,Nominated,Ineligible,Nominated,Nominated,NaN,NaN,Won Special Achievement
1,A Bug's Life,NaN,Award not yet introduced,NaN,Ineligible,Nominated,NaN,NaN,NaN,NaN
2,Toy Story 2,NaN,Award not yet introduced,Ineligible,NaN,NaN,Nominated,NaN,NaN,NaN

### Merging dataframes

In [9]:
final_df = pd.merge(original_df, char_assets_df, on="film")
final_df = pd.merge(final_df, academy_awards_df, on="film")
final_df

,film,release_year,budget_(million),us_canada_(million),other_territories_(million),worldwide_(million),rotten_tomatoes_score,characters,assets,best_picture,animated_feature,original_screenplay,adapted_screenplay,original_score,original_song,sound_editing,sound_mixing,other
0,Toy Story,1995,30.0,191.7,181.8,373.6,100%,"Woody, Buzz Lightyear, Hamm, Mr. Potato Head, ...","Andy's House, Dinoco Station, Pizza Planet, Si...",NaN,Award not yet introduced,Nominated,Ineligible,Nominated,Nominated,NaN,NaN,Won Special Achievement
1,A Bug's Life,1998,120.0,162.8,200.5,363.3,92%,"Flik, Princess Atta, Dot, Queen, Francis, Heim...","Ant Island, Bug City, The Circus, Hopper's Hid...",NaN,Award not yet introduced,NaN,Ineligible,Nominated,NaN,NaN,NaN,NaN
2,Toy Story 2,1999,90.0,245.9,251.5,497.4,100%,"Woody, Buzz Lightyear, Jessie, Bullseye, Mrs. ...","Al's Apartment, Al's Toy Barn, Woody's Roundup...",NaN,Award not yet introduced,Ineligible,NaN,NaN,Nominated,NaN,NaN,NaN
3,"Monsters, Inc.",2001,115.0,289.9,342.4,632.3,96%,"Finding Boo, James P. “Sulley” Sullivan, Mike ...","The Door, The Apartment, Boo's Room, The Facto...",NaN,Nominated,NaN,Ineligible,Nominated,Won,Nominated,NaN,NaN
4,Finding Nemo,2003,94.0,339.7,531.3,871.0,99%,"Classic Characters, Nemo, Marlin, Dory, Gill, ...","Fish Eye View, The Tank, Current, The Drop Off...",NaN,Won,Nominated,Ineligible,Nominated,NaN,Nominated,NaN,NaN
5,The Incredibles,2004,92.0,261.4,370.2,631.6,97%,"The Superpowers, Mr. Incredible, Elastigirl, D...","The Future, The Sound Of The Incredibles, New ...",NaN,Won,Nominated,Ineligible,NaN,NaN,Won,Nominated,NaN
6,Cars,2006,120.0,244.1,217.9,462.0,74%,"Cars as Characters, Lightning McQueen, Mater, ...","Route 66, Radiator Springs, Landscapes, Racing...",NaN,Nominated,NaN,Ineligible,NaN,Nominated,NaN,NaN,NaN
7,Ratatouille,2007,150.0,206.4,417.3,623.7,96%,"The Artist Rat, Remy, Auguste Gusteau, Linguin...","A World of Extremes, Old School, Gusteau’s, Li...",NaN,Won,Nominated,Ineligible,Nominated,NaN,Nominated,Nominated,NaN
8,WALL-E,2008,180.0,223.8,297.5,521.3,95%,"Pantomime, Live Action, WALL•E, EVE, M-O , Aut...","The Found World, The Language of Sound, Earth,...",NaN,Won,Nominated,Ineligible,Nominated,Nominated,Nominated,Nominated,NaN
9,Up,2009,175.0,293.0,442.1,735.1,98%,"Simple Shapes, Carl Fredricksen , Russell , Du...","""Simplexity"", Research, The House, Tepui, Airs...",Nominated,Won,Nominated,Ineligible,Won,NaN,Nominated,NaN,NaN
10,Toy Story 3,2010,200.0,415.0,652.0,1067.0,98%,"Reintroductions, Woody, Buzz Lightyear, Lotso,...","Western Opening, The Landfill, Andy's Room, Bo...",Nominated,Won,Ineligible,Nominated,NaN,Won,Nominated,NaN,NaN
11,Cars 2,2011,200.0,191.5,368.4,559.9,40%,"What Would Mater Do?, Mater, Lightning McQueen...","The International World of Cars 2, (Not) Lost ...",NaN,NaN,Ineligible,NaN,NaN,NaN,NaN,NaN,NaN
12,Brave,2012,185.0,237.3,301.7,539.0,78%,"The Story of Brave, Merida , Queen Elinor, Kin...","The Stories of Scotland, Castle DunBroch, The ...",NaN,Won,NaN,Ineligible,NaN,NaN,NaN,NaN,NaN
13,Monsters University,2013,200.0,268.5,475.1,743.6,80%,"Young Monsters, Mike Wazowski, James P. Sulliv...","The Monster Feel, , Campus, Greek House, The S...",NaN,NaN,Ineligible,NaN,NaN,NaN,NaN,NaN,NaN
14,Inside Out,2015,175.0,356.5,501.1,857.6,98%,"The Many Particles of Joy, Joy, Sadness, Anger...","Mind vs Brain, Headquarters, Dream Productions...",NaN,Won,Nominated,Ineligible,NaN,NaN,NaN,NaN,NaN
15,The Good Dinosaur,2015,175.0,123.1,209.1,332.2,76%,"The Life Size Dinosaur, Arlo, Spot, Poppa, Mom...","Environments, The River, Forest & Mountains, H...",NaN,NaN,NaN,Ineligible,NaN,NaN,NaN,NaN,NaN
16,Finding Dory,2016,200.0,486.3,542.3,1028.6,94%,"The Master Mimic, Dory, Nemo & Marlin, Hank, B...","Water and Light, Great Barrier Reef, The Marin...",NaN,NaN,Ineligible,NaN,NaN,NaN,NaN,NaN,NaN
17,Cars 3,2017,175.0,152.9,231.0,383.9,69%,"NASCAR Research, Lightning McQueen, Cruz Ramir...","Hyperreal, Radiator Springs, The Rust-eze Trai...",NaN,NaN,Ineligible,NaN,NaN,NaN,NaN,NaN,NaN
18,Coco,2017,175.0,209.7,597.4,807.1,97%,"Miguel, Héctor, Dante, Ernesto de la Cruz, Abu...","Research, The Land Of The Dead, Santa Cecilia,...",NaN,Won,NaN,Ineligible,NaN,Won,NaN,NaN,NaN
19,Incredibles 2,2018,200.0,608.6,634.2,1242.8,93%,"Helen Parr, Bob Parr, Jack-Jack Parr, Violet P...","Graphic Design, The Parr Home, Screenslaver’s ...",NaN,Nominated,Ineligible,NaN,NaN,NaN,NaN,NaN,NaN
20,Toy Story 4,2019,200.0,434.0,639.4,1073.4,97%,"Woody, Bo Peep, Forky, Gabby Gabby, Buzz Light...","A Toy’s World View, The Antique Store, Carnival",NaN,Won,Ineligible,NaN,NaN,Nominated,NaN,NaN,NaN
21,Onward,2020,200.0,61.6,80.4,142.0,88%,"Ian Lightfoot, Barley Lightfoot, Laurel Lightf...","Familiar Fantasy, Trust Bridge, Homes, Suburbia",NaN,Nominated,NaN,Ineligible,NaN,NaN,NaN,NaN,NaN