### Imports

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### Import Pixar csv

In [2]:
pixar_df = pd.read_csv('../data/pixar__studio12.csv')
pixar_df.sample(5)

,Moviename,Releaseyear,Budget(million),US and canada(million),Other territories(million),Worldwide(million),Rotten Tomatoes
16,Finding Dory,2016,2000,4863,5423,10286,94%
8,WALL-E,2008,1800,2238,2975,5213,95%
11,Cars 2,2011,2000,1915,3684,5599,40%
14,Inside Out,2015,1750,3565,5011,8576,98%
13,Monsters University,2013,2000,2685,4751,7436,80%

## Scrapping wiki table

In [3]:
wiki = 'https://en.wikipedia.org/wiki/List_of_Pixar_films'

In [4]:
res = requests.get(wiki)
soup = BeautifulSoup(res.content, "html.parser")

In [5]:
wrappers = soup.find_all('table', {'class':'wikitable'})
wrappers[4]

<table class="wikitable sortable" style="text-align:center; margin=auto; font-size:90%">
<tbody><tr>
<th rowspan="2" scope="col">Film
</th>
<th rowspan="2" scope="col"><a href="/wiki/Academy_Award_for_Best_Picture" title="Academy Award for Best Picture">Best Picture</a>
</th>
<th rowspan="2" scope="col"><a href="/wiki/Academy_Award_for_Best_Animated_Feature" title="Academy Award for Best Animated Feature">Animated Feature</a>
</th>
<th rowspan="2" scope="col"><a href="/wiki/Academy_Award_for_Best_Original_Screenplay" title="Academy Award for Best Original Screenplay">Original Screenplay</a>
</th>
<th rowspan="2" scope="col"><a href="/wiki/Academy_Award_for_Best_Adapted_Screenplay" title="Academy Award for Best Adapted Screenplay">Adapted Screenplay</a>
</th>
<th rowspan="2" scope="col"><a href="/wiki/Academy_Award_for_Best_Original_Score" title="Academy Award for Best Original Score">Original Score</a>
</th>
<th rowspan="2" scope="col"><a href="/wiki/Academy_Award_for_Best_Original_Song" title="Academy Award for Best Original Song">Original Song</a>
</th>
<th class="sortable" colspan="2" scope="col"><a href="/wiki/Academy_Award_for_Best_Sound" title="Academy Award for Best Sound">Sound</a><sup class="reference" id="cite_ref-overview1_170-0"><a href="#cite_note-overview1-170">[a]</a></sup>
</th>
<th class="unsortable" rowspan="2" scope="col">Other
</th></tr>
<tr>
<th scope="col"><a class="mw-redirect" href="/wiki/Academy_Award_for_Best_Sound_Editing" title="Academy Award for Best Sound Editing">Sound Editing</a>
</th>
<th scope="col"><a class="mw-redirect" href="/wiki/Academy_Award_for_Best_Sound_Mixing" title="Academy Award for Best Sound Mixing">Sound Mixing</a>
</th></tr>
<tr>
<td style="text-align:left;"><i>Toy Story</i>
</td>
<td>
</td>
<td class="table-na" data-sort-value="" rowspan="3" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;"><i>Award not yet introduced</i>
</td>
<td class="no table-no2 notheme" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td class="table-na" data-sort-value="" rowspan="2" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;"><i>Ineligible</i>
</td>
<td class="no table-no2 notheme" rowspan="2" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td class="no table-no2 notheme" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td>
<td>
</td>
<td class="yes table-yes2 notheme" style="background: #9EFF9E; color: #000; vertical-align: middle; text-align: center;">Won <a href="/wiki/Special_Achievement_Academy_Award" title="Special Achievement Academy Award">Special Achievement</a>
</td></tr>
<tr>
<td style="text-align:left;"><i>A Bug's Life</i>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Toy Story 2</i>
</td>
<td>
</td>
<td class="table-na" data-sort-value="" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;"><i>Ineligible</i>
</td>
<td>
</td>
<td>
</td>
<td class="no table-no2 notheme" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Monsters, Inc.</i>
</td>
<td>
</td>
<td class="no table-no2 notheme" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td>
<td class="table-na" data-sort-value="" rowspan="7" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;"><i>Ineligible</i>
</td>
<td class="no table-no2 notheme" rowspan="2" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td class="yes table-yes2 notheme" style="background: #9EFF9E; color: #000; vertical-align: middle; text-align: center;">Won
</td>
<td class="no table-no2 notheme" rowspan="2" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Finding Nemo</i>
</td>
<td>
</td>
<td class="yes table-yes2 notheme" rowspan="2" style="background: #9EFF9E; color: #000; vertical-align: middle; text-align: center;">Won
</td>
<td class="no table-no2 notheme" rowspan="2" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>The Incredibles</i>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td class="yes table-yes2 notheme" style="background: #9EFF9E; color: #000; vertical-align: middle; text-align: center;">Won
</td>
<td class="no table-no2 notheme" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Cars</i>
</td>
<td>
</td>
<td class="no table-no2 notheme" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td>
<td>
</td>
<td class="no table-no2 notheme" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Ratatouille</i>
</td>
<td>
</td>
<td class="yes table-yes2 notheme" rowspan="4" style="background: #9EFF9E; color: #000; vertical-align: middle; text-align: center;">Won
</td>
<td class="no table-no2 notheme" rowspan="3" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td class="no table-no2 notheme" rowspan="2" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td>
<td class="no table-no2 notheme" rowspan="4" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td class="no table-no2 notheme" rowspan="2" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>WALL-E</i>
</td>
<td>
</td>
<td class="no table-no2 notheme" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Up</i>
</td>
<td class="no table-no2 notheme" rowspan="2" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td class="yes table-yes2 notheme" style="background: #9EFF9E; color: #000; vertical-align: middle; text-align: center;">Won
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Toy Story 3</i>
</td>
<td class="table-na" data-sort-value="" rowspan="2" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;"><i>Ineligible</i>
</td>
<td class="no table-no2 notheme" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td>
<td class="yes table-yes2 notheme" style="background: #9EFF9E; color: #000; vertical-align: middle; text-align: center;">Won
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Cars 2</i>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Brave</i>
</td>
<td>
</td>
<td class="yes table-yes2 notheme" style="background: #9EFF9E; color: #000; vertical-align: middle; text-align: center;">Won
</td>
<td>
</td>
<td class="table-na" data-sort-value="" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;"><i>Ineligible</i>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Monsters University</i>
</td>
<td>
</td>
<td>
</td>
<td class="table-na" data-sort-value="" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;"><i>Ineligible</i>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Inside Out</i>
</td>
<td>
</td>
<td class="yes table-yes2 notheme" style="background: #9EFF9E; color: #000; vertical-align: middle; text-align: center;">Won
</td>
<td class="no table-no2 notheme" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td class="table-na" data-sort-value="" rowspan="2" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;"><i>Ineligible</i>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>The Good Dinosaur</i>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Finding Dory</i>
</td>
<td>
</td>
<td>
</td>
<td class="table-na" data-sort-value="" rowspan="2" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;"><i>Ineligible</i>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Cars 3</i>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Coco</i>
</td>
<td>
</td>
<td class="yes table-yes2 notheme" style="background: #9EFF9E; color: #000; vertical-align: middle; text-align: center;">Won
</td>
<td>
</td>
<td class="table-na" data-sort-value="" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;"><i>Ineligible</i>
</td>
<td>
</td>
<td class="yes table-yes2 notheme" style="background: #9EFF9E; color: #000; vertical-align: middle; text-align: center;">Won
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Incredibles 2</i>
</td>
<td>
</td>
<td class="no table-no2 notheme" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td class="table-na" data-sort-value="" rowspan="2" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;"><i>Ineligible</i>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Toy Story 4</i>
</td>
<td>
</td>
<td class="yes table-yes2 notheme" style="background: #9EFF9E; color: #000; vertical-align: middle; text-align: center;">Won
</td>
<td>
</td>
<td>
</td>
<td class="no table-no2 notheme" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Onward</i>
</td>
<td>
</td>
<td class="no table-no2 notheme" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td>
<td class="table-na" data-sort-value="" rowspan="4" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;"><i>Ineligible</i>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Soul</i>
</td>
<td>
</td>
<td class="yes table-yes2 notheme" style="background: #9EFF9E; color: #000; vertical-align: middle; text-align: center;">Won
</td>
<td>
</td>
<td class="yes table-yes2 notheme" style="background: #9EFF9E; color: #000; vertical-align: middle; text-align: center;">Won
</td>
<td>
</td>
<td class="no table-no2 notheme" colspan="2" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Luca</i>
</td>
<td>
</td>
<td class="no table-no2 notheme" rowspan="2" style="background: #FFE3E3; color: black; vertical-align: middle; text-align: center;">Nominated
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td colspan="2">
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Turning Red</i>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td colspan="2">
</td>
<td>
</td></tr>
<tr>
<td style="text-align:left;"><i>Lightyear</i>
</td>
<td>
</td>
<td>
</td>
<td class="table-na" data-sort-value="" style="background: #ececec; color: #2C2C2C; vertical-align: middle; text-align: center;"><i>Ineligible</i>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td colspan="2">
</td>
<td>
</td></tr></tbody></table>

### Academy Awards Table

    Column names extraction

In [27]:
col_names = wrappers[4].find_all('th')
col_names = [i.getText().strip() for i in col_names]
col_names.remove('Sound[a]')
col_names = [i.lower().replace(' ', '_') for i in col_names]
col_names.remove('other')
col_names.append('other')
col_names

['film',
 'best_picture',
 'animated_feature',
 'original_screenplay',
 'adapted_screenplay',
 'original_score',
 'original_song',
 'sound_editing',
 'sound_mixing',
 'other']

    Rows extraction

In [191]:
def create_dataframe_from_rows_and_columns(rows, columns):
    # dictionary to control rowspan values in each iteration
    rowspan_values = {col: 1 for col in columns}
    data = []

    for idx, row in enumerate(rows):
        # list_ will be the list of values for each row in the table
        list_ = []
        cells = row.find_all('td')
        count_cells = 0
        for i in range(len(columns)):
            # check if last_row[column] rowspan is greater than 1 to pick the value of that cell
            # update rowspan of this row decreasing in 1
            if int(rowspan_values[columns[i]]) > 1:
                last_row = data[idx - 1]
                last_value = last_row[i]
                list_.append(last_value)
                rowspan_values[columns[i]] -= 1
            else:
                list_.append(cells[count_cells].getText().strip().replace('\\n', ''))
                if cells[count_cells].get('rowspan'):
                    rowspan_values[columns[i]] = int(cells[count_cells].get('rowspan'))
                else:
                    rowspan_values[columns[i]] = 1
                count_cells += 1
        data.append(list_)
    
    return pd.DataFrame(data, columns=columns)

rows = wrappers[4].find_all('tr')
rows = rows[2::]

# Excluding 4 last rows to extract the info
rows = rows[:22]
df_1 = create_dataframe_from_rows_and_columns(rows, col_names)
df_1.sample(3)

,film,best_picture,animated_feature,original_screenplay,adapted_screenplay,original_score,original_song,sound_editing,sound_mixing,other
12,Brave,,Won,,Ineligible,,,,,
15,The Good Dinosaur,,,,Ineligible,,,,,
19,Incredibles 2,,Nominated,Ineligible,,,,,,

    The last 4 movies in the table from wikipedia were added by hand because there was a problem with the columns, which did not match.

In [187]:
remaining_movies = [
    ['Soul', '', 'Won', '', 'Ineligible', 'Won', '', 'Nominated', 'Nominated', ''],
    ['Luca', '', 'Nominated', '', 'Ineligible', '', '', '', '', ''],
    ['Turning Red', '', 'Nominated', '', 'Ineligible', '', '', '', '', ''],
    ['Lightyear', '', '', 'Ineligible', '', '', '', '', '', '']
]
df_2 = pd.DataFrame(remaining_movies, columns=col_names)
df_2

,film,best_picture,animated_feature,original_screenplay,adapted_screenplay,original_score,original_song,sound_editing,sound_mixing,other
0,Soul,,Won,,Ineligible,Won,,Nominated,Nominated,
1,Luca,,Nominated,,Ineligible,,,,,
2,Turning Red,,Nominated,,Ineligible,,,,,
3,Lightyear,,,Ineligible,,,,,,

    The two data frames were then concatenated to merge them into one.

In [194]:
final_df = pd.concat([df_1, df_2], ignore_index=True)
final_df.to_csv('../data/pixar_academy_awards.csv', index=False)

### Box Office Table

In [ ]:
def create_dataframe_from_rows_and_columns(rows, columns):
    # dictionary to control rowspan values in each iteration
    rowspan_values = {col: 1 for col in columns}
    colspan = 1
    data = []

    for idx, row in enumerate(rows):
        # list_ will be the list of values for each row in the table
        list_ = []
        cells = row.find_all('td')
        count_cells = 0
        for i in range(len(columns)):
            # check if last_row[column] rowspan is greater than 1 to pick the value of that cell
            # update rowspan of this row decreasing in 1
            if int(rowspan_values[columns[i]]) > 1:
                last_row = data[idx - 1]
                print(columns[i])
                print(last_row)
                last_value = last_row[i]
                list_.append(last_value)
                rowspan_values[columns[i]] -= 1
            elif colspan > 1:
                list_.append(list_[i - 1])
                colspan -= 1
                count_cells -= 1
            else:
                list_.append(cells[count_cells].getText().strip().replace('\\n', ''))
                if cells[count_cells].get('rowspan') and cells[count_cells].get('colspan'):
                    rowspan_values[columns[i]] = int(cells[count_cells].get('rowspan'))
                    count_cells += 1

                else:
                    rowspan_values[columns[i]] = 1
                    count_cells += 1

            if cells[count_cells].get('colspan'):
                colspan = cells[count_cells].get('colspan')
                count_cells -= 1
            else: 
                colspan = 1
        data.append(list_)
    print(rowspan_values)
    print(data)
    
    return pd.DataFrame(data, columns=columns)

rows = wrappers[4].find_all('tr')
rows = rows[2::]
rows = rows[:22]
df = create_dataframe_from_rows_and_columns(rows, col_names)
df